html {
  font-family: 'Nunito Sans', sans-serif;  

  --red: #F52D2D;
  --orange: #F5882D;
  --blue: #1B9393;
  --bg-color: #fafafa;

}
 
body {
  background: var(--bg-color);
  /* border: 1rem solid white; */
  /* min-height: 100vh; */
}

.pretty-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid var(--orange);
}
/* .pretty-link:hover {
  box-shadow: inset 0 -23px 0 -1px var(--orange);
} */

.pretty-bullet {
  position: relative;
}
.pretty-bullet:before {
  content: '・';
  position: absolute;
  left: -2rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.selected-tab {
  position: relative;
}
.selected-tab:before {
  content: '・';
  position: absolute;
  bottom: -1.5rem;
  left: calc(50% - 0.75rem);
  font-size: 1.5rem;
  color: var(--blue)
}

.bg-fafafa {
  background-color: var(--bg-color);
}

.text-gradient-clip {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
} 
.bg-gradient-1 {
  background: -webkit-linear-gradient(#f52f2d, #f76560);
}
.bg-gradient-2 {
  background: -webkit-linear-gradient(#f5402d, #f5442d);
}
.bg-gradient-3 {
  background: -webkit-linear-gradient(#f5512d, #f5552d);
}
.bg-gradient-4 {
  background: -webkit-linear-gradient(#f5632d, #f5672d);
}
.bg-gradient-5 {
  background: -webkit-linear-gradient(#f5742d, #f5792d);
}
.bg-gradient-6 {
  background: -webkit-linear-gradient(#f5852d, #f5882d);
}

@media screen and (min-width: 48em) {
  .parallax {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .parallax__layer--base {
    transform: translateZ(0);
  }
  .parallax__layer--back {
    transform: translateZ(-0.5px) scale(1.5) translateX(-25%) 
  }
}